<!doctype html>
<html>

	<link rel="stylesheet" type= "text/css" href="static/styles/bootstrap.min.css">
	<link rel="stylesheet" type= "text/css" href="static/styles/font-awesome.min.css">
	<link rel="stylesheet" type= "text/css" href="static/styles/ionicons.min.css">
	<script src="static/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type= "text/css" href="static/styles/styles.css">

 <head>
 <title>Answer Survey</title>
 </head>
 <header>
		<!-- Header Start -->
		<div class="container row full-width">
			   <!--<div class="bg">-->
			   <!--<div class="row">-->
				   <!-- header Nav Start -->
				   <nav class="navbar navbar-default col-sm-10">
						   <ul class="nav navbar-nav navbar-right">
     <li><a href="/admin">Home</a></li>
     <li><a href="/surveys">Surveys</a></li>
     <li><a href="/createquestion">Questions</a></li>
						   </ul>
					 </nav> 
		</div>
	</header>
	<body>
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h1 align="center">Answer Survey page</h1>
				</div>
				<div class="panel-body">
					{% if questionList %}  
						<form method="POST">
							{% for question in questionList -%}
							<div class="panel panel-default">
								<div class="panel-heading">
									{{ question[1] }}
								</div>
								<div class="panel-body">
									{%- for answer in question[2:] -%}
									<div class="radio">
										<input type="radio" name="{{ question[0] }}" value="{{ loop.index0 }}">
										<label for="{{ loop.index0 }}">{{ answer }}</label>
									</div>
									{%- endfor -%}
								</div>
							</div>
							{%- endfor %}
							<br>
							<button type="submit" class="btn-primary" name="bt">Submit</button></br>
						</form>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>
