<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type= "text/css" href="static/styles/bootstrap.min.css">
    <link rel="stylesheet" type= "text/css" href="static/styles/font-awesome.min.css">
    <link rel="stylesheet" type= "text/css" href="static/styles/ionicons.min.css">
    <script src="static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type= "text/css" href="static/styles/styles.css">
    <title>Thankyou</title>
  </head>
  <header>
      <div class="container row full-width">
        <nav class="navbar navbar-default col-sm-10">
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/home">Home</a></li>
              <li><a href="/surveys">Surveys</a></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
        </nav> 
      </div>
  </header>
  <body>
    <h1 align="center">Thankyou for your submission!</h1>
  </body>
</html>