<!doctype html>
<html>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

   <head>
   <title>home page</title>
   </head>
   <body>
       <div class="container col-md-6">
        <h1 align="center">Create question page</h1>
        <a href="/admin">Home</a>
        <p align="center">Create New Question</p>
        <form method="POST">
            <p>Question: <input type="text"  name="question"> </p>
            <p>Option One: <input type="text"  name="option_one" > </p>
            <p>Option Two: <input type="text"  name="option_two" > </p>
            <p>Option Three: <input type="text"  name="option_three" > </p>
            <p>Option Four: <input type="text" name="option_four"> </p>
            <button type="submit">Submit</button>
        </form>
        <p>Current question pool (will display list of questions in pool) </p>
        <!-- Will take in list of questions from MasterQuestions.csv -->
    </div>
   </body>
   </html>
