<!doctype html>
<html>
   <head>
   <title>Create a Survey </title>
   </head>
   <body>
      <h1> Enter survey name and course</h1>
      <Form method="POST">
         <input name="svyname" placeholder="Enter survey name"/>
         <input name="svycourse" placeholder="Enter course name"/>
         <button type="submit" name="bt">Submit</button></br>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li>{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
      <p>Please check which questions you would like to include in survey</p>
      <div class="questionPool">
        <table cellpadding="5" cellspacing="20">

            <colgroup>
                <col span="5" style="">

            </colgroup>
            <tr>
                <th>Question</th>
                <th>A</th>
                <th>B</th>
                <th>C</th>
                <th>D</th>
            </tr>
                {% if questions_pool %}  
                    {% for question in questions_pool -%}
                        <tr>
                        
                        <span style="float:right;"><td>{{ answer }}<input type="checkbox" name="question" value="{{question[0]}}"></td></span>
                        </Form>
                        {%- for answer in question[1:] -%}
                            <span style="float:right;"><td>{{ answer }}</td></span>
                        {%- endfor -%}
                    {%- endfor %}
                {% endif %}
            </tr>
        </table>
    </div> 
   </body>
   
</html>