<!doctype html>
<html>
   <head>
   <title>Create a Survey </title>

  <!-- CSS Style Sheet -->

  <link rel="stylesheet" type= "text/css" href="static/styles/bootstrap.min.css">
  <link rel="stylesheet" type= "text/css" href="static/styles/font-awesome.min.css">
  <link rel="stylesheet" type= "text/css" href="static/styles/ionicons.min.css">
  <script src="static/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type= "text/css" href="static/styles/styles.css">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
  <meta name="keywords" content="" />


  <!--Gives access to Google Fonts-->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>


   </head>
   <header>
        <!-- Header Start -->
        <div class="container row full-width">
               <!--<div class="bg">-->
               <!--<div class="row">-->
                   <!-- header Nav Start -->
                   <nav class="navbar navbar-default col-sm-10">
                           <ul class="nav navbar-nav navbar-right">
                             <li><a href="/admin">Admin Home</a></li>
                             <li><a href="/createsurvey">Create Survey</a></li>
                             <li><a href="/createquestion">Create Question</a></li>
                           </ul>
                     </nav> 
        </div>
    </header>
   <body>
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 align="center"> Create New Survey</h1>
                </div>
                <div class="panel-body">
                    <div class="container">
                        <form method="POST">
                            <input name="svyname" placeholder="Enter survey name"style="width: 200px;height: 25px"/>

                           {%if course_list%}
                               <select name = "svycourse"style="width: 200px;height: 25px">
                               {%for course in course_list%}
                                   <option value="{{course[0]}}">{{course[0]}} - ({{course[1]}} )</option>
                               {%endfor%}
                               </select>
                           {%endif%}
                           
                        </br>

                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <ul>
                                {% for message in messages %}
                                <a href="/{{ message }}">Survey Link</a>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            {% endwith %}

                            <br>

                            <p>Please check which questions you would like to include in survey, or add new questions <a href="/createquestion">here</a></p>
                            <div class="panel panel-default col-md-11">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Included</th>
                                        <th>Question</th>
                                        <th>A</th>
                                        <th>B</th>
                                        <th>C</th>
                                        <th>D</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if questions_pool %}  
                                        {% for question in questions_pool -%}
                                            <tr>
                                                <td>
                                                    <div class="checkbox">
                                                        <label><input type="checkbox" name="question" value="{{question[0]}}"/>
                                                    </div>
                                                </td>
                                                <td>
                                                    {{ question[1] }}
                                                </td>
                                                {%- for answer in question[2] -%}
                                                    <span style="float:right;">
                                                        <td>
                                                            {{ answer }}
                                                        </td>
                                                    </span>
                                                {%- endfor -%}
                                            </tr>
                                        {%- endfor %}
                                    {% endif %}
                                    </table>
                                </div> 
                                <span></span>
                            </div>
                            <button type="submit" class="btn-primary" name="bt">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

   </body>
   
</html>



