<!doctype html>
<html>
		<head>
				<title>Home</title>
				<link rel="stylesheet" type= "text/css" href="static/styles/bootstrap.min.css">
				<link rel="stylesheet" type= "text/css" href="static/styles/font-awesome.min.css">
				<link rel="stylesheet" type= "text/css" href="static/styles/ionicons.min.css">
				<script src="static/js/bootstrap.min.js"></script>
				<link rel="stylesheet" type= "text/css" href="static/styles/styles.css">
		</head>
		<header>
				<div class="container row full-width">
						<nav class="navbar navbar-default col-sm-10">
							 <ul class="nav navbar-nav navbar-right">
										<li><a href="/home">Home</a></li>
										<li><a href="/surveys">Surveys</a></li>
										{% if current_user.role=='admin'%}
										<li><a href="/questions">Questions</a></li>
										{% endif %}
									<li><a href="/logout">Logout</a></li>										
							 </ul>
						</nav> 
				</div>
		</header>
		<body>
				<div class="container">
						<div class="panel panel-default">
								<div class="panel-heading">
									<h2 align="center"> Welcome to BrainStormSurveys </h2>
								</div>
								<br></br>
								<div class="panel-body">
										<a href="/surveys"><button type="button" class="btn btn-primary btn-lg btn-block">Surveys</button></a>
										<br>
										{% if current_user.role=='admin'%}
										<a href="/questions"><button type="button" class="btn btn-secondary btn-lg btn-block">Questions</button></a>
										{%endif%}
								</div>
						</div>
				</div>
		</body>
</html>
